@charset "UTF-8";
body {
  background-color: #E4EFF3;
  margin: 0 auto;
  padding: 0px;
  font-size: 14px;
  font-family: "HiraginoSans-W3","Hiragino Kaku Gothic Pro","Osaka","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",sans-serif; }

img {
  border: 0px; }

.w1024 {
  width: 1024px;
  margin: 0 auto; }

/* Start overwrite bootstrap style */
.container, .margin-container {
  max-width: none !important;
  padding-right: 0px !important;
  padding-left: 0px !important; }

.margin-container {
  margin: 0 10px; }

.row,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px; }

a:hover {
  text-decoration: none; }

.btn {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -m-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  font-size: 20px;
  border: none;
  padding: 10px 0px; }

.btn-primary {
  background: #FA833C;
  color: white; }
  .btn-primary:hover {
    background-color: #FA833C; }

.btn-info {
  background-color: #0587C4; }
  .btn-info:hover {
    background-color: #0587C4; }

.btn-post {
  background-color: #FF972B; }
  .btn-post:hover {
    background-color: #FF972B; }

.fs3 {
  font-size: 21px; }

.fs4 {
  font-size: 13px; }

.fs5 {
  font-size: 11px; }

.fs6 {
  font-size: 9px; }

/* End overwrite bootstrap style */
a.login, a.sign_up {
  margin: 20px 0px;
  padding: 10px 15px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 14px;
  display: inline-block; }
a:hover {
  opacity: 0.6; }
a:hover img {
  opacity: 0.6; }

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.clr {
  clear: both; }

#mag-nav {
  width: 100%;
  text-align: center;
  background: #0074BF;
  padding: 10px 0px; }
  #mag-nav #nav-title {
    font-family: HiraginoSans-W6;
    font-size: 24px;
    color: white; }
  #mag-nav .dropdown {
    padding: 10px; }
  #mag-nav .dropdown-toggle {
    color: white; }

.title {
  font-size: 21px;
  color: #777; }

h1 {
  margin: 10px;
  font-size: 24px;
  color: #38A997; }

.description {
  margin: 10px;
  font-size: 13px;
  color: #ABABAB;
  letter-spacing: 0.07px;
  line-height: 17px; }

.form-control {
  font-size: 20px;
  padding: 20px 0px 20px 20px;
  background: white;
  border: 1px solid #CACACA;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -m-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px; }

.btn-next-fill {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%; }
